@import helper._
@(requestForm: Form[(String,String)])(implicit messages: Messages)

@layout("User login") {
    <div><a href="/">Topに戻る</a></div>
    <h1>ログイン</h1>
    <div class="form-wrapper">
        @if(requestForm.hasErrors) {
            <p>Error : ユーザー名かパスワードが間違っています</p>
        }
        @form(action = routes.UsersController.result()) {
            <div>
                @inputText(requestForm("username"), '_showConstraints -> false, '_showErrors -> false)
            </div>
            <div>
                @inputPassword(requestForm("password"), '_showConstraints -> false, '_showErrors -> false)
            </div>
            <div>
                <input type="submit" value="ログイン" class="dimention-btn">
            </div>
        }
    </div>
}
