@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(user: Option[User])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@layout("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
    *@
    <h1>あなたのメモ帳</h1>
    @user.map{ u =>
        <div>
            <p>ようこそ @u.username</p>
        </div>
        <a href="/memos" class="dimention-btn">メモ帳を見る</a>
        <a href="/users/logout" class="dimention-btn">ログアウト</a>
    }.getOrElse {
        <a href="/users/login" class="dimention-btn">ログイン</a>
        <a href="/users/new" class="dimention-btn">会員登録</a>
    }
}
