@import helper._
@import forms.MemoForm
@(requestForm: Form[MemoForm])(implicit messages: Messages)
@implicitFieldConstructor = @{ FieldConstructor(common.f) }

@layout("New Memo") {
    @memos.elements.back_to_list()
    <h1>新規メモ追加</h1>
    @form(action = routes.MemosController.create(), 'class -> "form-wrapper") {
        <div>
            <label for="">タイトル</label>
            @inputText(requestForm("title"), '_showConstraints -> false, '_showErrors -> false)
            @if(requestForm.hasErrors) {
                @for(v <- requestForm.errors.collect {
                    case v if (v.key == "title") => Messages(v.message, v.args:_*)
                }){
                    <div>@v</div>
                }
            }
        </div>
        <div>
            <label for="">内容</label>
            @textarea(requestForm("content"), '_showConstraints -> false, '_showErrors -> false)
            @if(requestForm.hasErrors) {
                @for(v <- requestForm.errors.collect {
                    case v if (v.key == "content") => Messages(v.message, v.args:_*)
                }){
                    <div>@v</div>
                }
            }
        </div>
        <div>
            <label for="">タグ</label>
            @inputText(requestForm("tag_str"), '_showConstraints -> false, '_showErrors -> false, 'placeholder -> "カンマ区切りで入力")
        </div>
        <div>
            <input type="submit" value="追加" class="dimention-btn">
        </div>
    }
}


